*{margin:0; padding:0;}
a{text-decoration: none; color:inherit}
li{list-style: none;}

.main{
  /* background:#b8f1fa;
  height:800px; */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
}

/* .header{
  text-align:center;
  width:100%;
  background:rgb(39, 66, 201);
  text-align:center;
  height:100px;
  line-height:100px;
  font-weight: bold;
  font-size:30px;
} */

/* header end */

/* main start */

.main_contents{
  display:flex;
  padding-top:5%;
  width:100%;
  margin:0 auto;
}
.main_contents .left_img{
  width:100%;
  margin-right:5%;
  border:2px solid #000;
  border-radius: 20px;
  perspective: 1000px;
  cursor:pointer;
}

.main_contents .left_img img {
  width: 100%;
  height: 100%;
  border-radius:20px;
  object-fit: cover; 
  transition: transform 0.5s ease; 
}

.main_contents .left_img img.rotated {
  transform: rotateY(180deg);
}

.main_contents .right_text li .categoriLink:nth-of-type(1){
margin-bottom:1rem;
cursor:pointer;
font-size:14px;
text-decoration:underline;
color:#000;
}

.main_contents .right_text li:nth-of-type(2){
  font-size:30px;
  font-weight:bold;
  margin-bottom:0.2rem;
}
.main_contents .right_text li .profileMove{
font-size:18px;
cursor:pointer; 
text-decoration: underline;
color:#000;
}
.main_contents .right_text li:nth-of-type(4){
  margin-top:4rem;
}
.main_contents .right_text li:nth-of-type(5){
margin-top:10%;
width:520px;
border:5px solid #000;
border-radius: 20px;
padding:50px 45px 50px 40px;
font-size:20px;
font-weight:bold;
}
.main_contents .right_text li span{
  font-size:12px;
  color:#777777;
}

.button{
  width:140px;
  text-align: center;
  margin-top:20px;
  padding:10px 20px;
  background:transparent;
  border:5px solid #000;
  border-radius: 20px;
  transition:0.5s;
  display:block;
  font-weight:bold;
  color:#000;
  text-decoration: none;
  
}
.button:hover{
  font-weight:bold;
  color:#fff;
  border:5px solid #d6d6d6;
  background:#000;

}