.profile-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.items-area {
    display: flex;
    justify-content: center;
}


.main-areas {
    margin-top: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.main-area h4 {
    text-align: center;
}