.profile{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
}

.menu-buttons {
    display: flex;
    justify-content: left;
}

.menu-buttons button {
    margin: 10px;
}

.nav-item {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.input-box {
    width: 200px;
}

.input-area {
    display: flex;
    justify-content: space-evenly;
    margin-top :30px;
}

.button-area {
    display: flex;
    margin :20px;
    justify-content: center;
}

.button-area Button {
    margin :20px;
}