.mainpage{
    height: 1000px;
    width: 100%;
    padding-top: 100px;
}

.cate {
    padding-left: 15%;
    display: flex;
}

 .catebtn {
    border: none;
    display: block;
    position: relative;
    padding: 0.3em 1.2em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 2;
    font-family: inherit;
    font-weight: 500;
    margin: 1%;
  }
  
  .catebtn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    border: 4px solid royalblue;
  }
  
  .catebtn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .catebtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
  }
  
  .catebtn:hover {
    color: white;
  }
  
  .catebtn:active span::before {
    background: #2751cd;
  }

.subtitle{
    padding-left: 15%;
    padding-top: 1%;
    font-size: 30px;
}

.main_profile {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content{
    width: 70%;
    height: 90%;
    border: 5px solid black;
    border-radius: 20px;
}

.new_profile {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.new_content{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
}

.author_profile1 {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.author_content1{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
}

.author_profile2 {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.author_content2 {
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}