.mainpage{
    height: 1000px;
    width: 100%;
    padding-top: 100px;
}

.cate {
    padding-left: 15%;
    display: flex;
}

.catebtn {
  border: 1.5px solid black;
  padding: 3px;
  width: 100px;
  margin: 7px;
  color: #f5f0f0;
  background-color: #101014;
  box-shadow: 3px 3px 6px #101014;
  transition: transform 0.3s ease-in-out;
}

.catebtn:hover {
  background-color: #f5f0f0;
  color: #101014;
  transform: scale(1.01);
}

.subtitle{
    padding-left: 15%;
    padding-top: 1%;
    font-size: 30px;
}

.main_profile {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content{
  width: 70%;
  height: 90%;
  border: 2px solid black;
  overflow: hidden;
  --border-radius: 15px;
  --primary-color: #abcbf6;
  --secondary-color: #c9bcf5;
  font-family: "Arial";
  cursor: pointer;
  border-radius: 17px;
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.main_profileImg{
  width: 100%;
  height: 100%;
}

  .main_profile_title {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f1f1f3;
    display: flex;
    position: absolute;
    top: 0;
  }

.main_sub_title{
  position: absolute;
  display: flex;
  width: 100%;
  color: #f1f1f3;
  padding: 0.4rem;
  bottom: 0;
  left: 0;
}
  
  .main_arrow {
    position: absolute;
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_content svg {
    transition: 0.2s;
  }
  
  /* hover */
  .main_content:hover .main_profile_title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .main_content:hover .main_arrow, .main_sub_title {
    background: #111;
  }
  
  .main_content:hover .main_arrow svg {
    transform: translateX(3px);
  }

.new_profile {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.new_content{
    width: 30%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.new_content img{
    width: 100%;
    height: 100%;
}

.cardtitle {
  position: absolute;
  color: #101014;
  bottom: 0;
  right: 0;
  padding-right: 7%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: scale(0);
  transition: 0.5s;
}

.new_content:hover {
  border: #000000 0.1em solid;
}

.new_content:hover .cardtitle {
  transform: scale(1);
  bottom: 25px;
}

.cardtitle span{
  font-size: smaller;
}

.author_profile1 {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.author_content1{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
}

.author_profile2 {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.author_content2 {
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
}

