.profile {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
} 

.menu-buttons {
    display: flex;
    justify-content: left;
}

.menu-buttons button {
    margin: 10px;
}

/* .main-area {
    position: absolute;
    right: 20px;
    bottom: 150px;

} */

.input-box-dropdown {
    width: 370px;
}

#dropdown-basic {
    width: 370px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    height: 28px;
  
}

.dropdown button {
    border-radius: none;
}

.text-right {
    text-align: center;
}
.profile {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
}