.header{
    position: fixed;
    display:inline-block;
    background-color: white;
    width:100%;
    height:100px;
}

.contents{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.logo_area{
    display: flex;
}

.search_area{
    display: flex;
}

.form {
    --input-bg: #FFf;
   /*  background of input */
    --padding: 1.5em;
    --rotate: 80deg;
   /*  rotation degree of input*/
    --gap: 2em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
   /*  when rotating changed icon color */
    --height: 40px;
   /*  height */
    width: 200px;
    -webkit-padding-end: 1em;
            padding-inline-end: 1em;
   /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: var(--height);
  }
  
  .form input {
    width: 100%;
    -webkit-padding-start: calc(var(--padding) + var(--gap));
            padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
  }
  /* style for both icons -- search,close */
  .form svg {
    /* display: block; */
    color: #111;
    -webkit-transition: 0.3s cubic-bezier(.4,0,.2,1);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
  }
  /* search icon */
  .icon {
    position: absolute;
    left: var(--padding);
    -webkit-transition: 0.3s cubic-bezier(.4,0,.2,1);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* arrow-icon*/
  .swap-off {
    -webkit-transform: rotate(-80deg);
        -ms-transform: rotate(-80deg);
            transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }
  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    visibility: hidden;
  }
  
  .form input:focus ~ .icon {
    -webkit-transform: rotate(var(--rotate)) scale(1.3);
        -ms-transform: rotate(var(--rotate)) scale(1.3);
            transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form input:focus ~ .icon .swap-off {
    opacity: 1;
    -webkit-transform: rotate(-80deg);
        -ms-transform: rotate(-80deg);
            transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .icon {
    -webkit-transform: scale(1.3) rotate(var(--rotate));
        -ms-transform: scale(1.3) rotate(var(--rotate));
            transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s;
    transition: 0s;
  }
  

.menu_area{
    display: flex;
}

.logo{
    height: 80px;
    width: 96%;
    max-width: 150px;
}

.search_input{
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
}